.px30 {
  width: 30px;
}

.px46 {
  width: 46px;
}
.list-image-link {
  margin-left: 0px;
  background: url('/modules/custom/access/modules/access_cilink/img/link.svg') 0 0 no-repeat;
  padding-left: 42px;
  list-style-type: none;
}
