#edit-tags--wrapper {
  display: none;
}

details.tags {
  position: relative;
  margin: 2rem 0;
  padding: 0 1rem;
}

details.tags {
  max-height: 400px;
  overflow-y: scroll;
}

details.tags summary {
  position: sticky;
  top: 0;
  background-color: #ddd;
  margin: 0 -1rem;
}

.tags-select {
  display: inline-block;
  border: 1px solid #232323;
  cursor: pointer;
  scroll-margin-top: 100px;
  padding: 5px;
  margin: 5px;
}

.tags-select:hover {
    border: 1px solid #1A5B6E;
    color: #1A5B6E;
}

.selected {
  background-color: #1A5B6E;
  border-color: #1A5B6E;
  color: #ffffff;
}

.selected:hover {
  color: #ffffff;
  opacity: 0.8;
}

.tags h2 {
  margin: 1em 0;
}

.view-display-id-block_4 .view-content {
  display: flex;
  flex-wrap: wrap;
}
