#edit-field-tags-wrapper {
  display: none;
}

details.tags {
  position: relative;
  padding: 0 1rem;
  max-height: 300px;
  overflow: auto;
  border-radius: 0.25rem;
}

details.tags summary {
  position: sticky;
  top: 0;
  padding: 0.5rem 0;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: 800;
}

.tags-select {
  display: inline-block;
  border: 1px solid #232323;
  cursor: pointer;
  scroll-margin-top: 100px;
  padding: 5px;
  margin: 5px;
}

.tags-select:hover {
    border: 1px solid var(--selected-tag);
    color: var(--selected-tag);
    background-color: #ffffff !important;
}

details.tags .tags-select.selected {
  background-color: var(--selected-tag);
  border-color: var(--selected-tag) !important;
  color: #ffffff !important;
}

.selected:hover {
  color: #ffffff;
  opacity: 0.8;
}

.tags h2 {
  margin: 1em 0;
}

.view-node-add-tags .view-content {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 900px) {
  details.tags {
    margin-right: -250px;
  }
}

