<div class="container bg-white">
  <div class="row">
    <div class="col bg-light">
      <h3>Latest News</h3>
      {{ latest_news_block }}     
      <a href="/news">All News</a>
    </div>
    <div class="col bg-light">
      <h3>Latest Events</h3>
      {{ latest_events_block }} 
      <a href="/events">All Events</a>
    </div>
  </div>
</div>

