<div class="card mt-2">
<div class="card-body">
<h3 class="card-title">Posting News</h3>

<p>Do you have news you would like to share with the ACCESS community?</p>
<a class="btn btn-outline-secondary" href="/node/add/access_news">Add News</a></div>
</div>
